*{
    box-sizing: border-box;
}

.body{
    font-family: "Rubik", "Arial", sans-serif;
    color: #434343;
    line-height: 1.4;
    transition: 0.3s ease;
    margin: 0;
}

.header-section{
    display: flex;
    width: 90rem;
    height: 6.5625rem;
    flex-shrink: 0;
    background-color:#F6F6F6;
}

.site-header-logo-img{
    color: #7296EE;
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 17.5rem;
    height: 50px;
    border-radius: 0.4375rem;
    background: #FFF;
    margin-left: 7.5rem;
}


.container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currency-rate-item{
    margin: 1.56rem;
}

.currency-rate{
    margin-left: 2.56rem;
    margin-right: 27.5rem;
    margin-bottom: 2.37rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    display: flex;
}

.currency-unit{
    color: #2959CE;
    font-family: Rubik;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.toggler-lang{
    border-radius: 2.4375rem;
    background: #DCE6FF;
    margin-left: 1.75rem;
    padding: 3px;
}

.lang-toggler-active{
    margin-bottom: 2.12rem;
    text-decoration: none;
    color: #000;
    font-family: Rubik;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
    border-radius: 5px solid #fff;
}

.button{
    margin-bottom: 2.12rem;
    margin-left: 1.56rem;
}

